<script type="text/ng-template" id="commitMessageDialog">
  <md-dialog class="ModalDialog-dialog" aria-label="Save changes">
    <md-content>
      <md-subheader class="md-subheader">Save changes</md-subheader>
      <div class="ModalDialog-content">
        <form name="commitMessageForm">
          <md-input-container>
            <label>Commit message</label>
            <input type="text" class="form-control" name="commitMessage"
                   required ng-model="commitMessage">
          </md-input-container>
        </form>
      </div>
    </md-content>
    <div class="md-actions" layout="row">
      <md-button ng-click="closeDialog(true)">Cancel</md-button>
      <md-button ng-click="closeDialog(false)" class="md-primary" ng-disabled="commitMessageForm.$invalid">Ok</md-button>
    </div>
  </md-dialog>
</script>

<script type="text/ng-template" id="createNewPageDialog">
  <md-dialog class="ModalDialog-dialog" aria-label="Create a new page">
    <md-content>
      <md-subheader class="md-subheader">New page</md-subheader>
      <div class="ModalDialog-content">
        <form name="newPageForm">
          <md-input-container>
            <label>Page name</label>
            <input type="text" class="form-control" name="pageName"
                   required ng-model="pageName">
          </md-input-container>
        </form>
      </div>
    </md-content>
    <div class="md-actions" layout="row">
      <md-button ng-click="closeDialog(true)">Cancel</md-button>
      <md-button ng-click="closeDialog(false)" class="md-primary" ng-disabled="newPageForm.$invalid">Ok</md-button>
    </div>
  </md-dialog>
</script>

<div class="ViewContent-container" ng-hide="isEditorVisible">
  <div ng-bind-html="content" class="markdown-body"></div>
</div>
<div class="EditContent-container" ng-show="isEditorVisible">
  <div class="EditContent-toolbar" flex layout="row" layout-align="start end">
    <md-button aria-label="Cancel changes" ng-click="cancelEdit()">
      <md-icon md-font-icon="icon-remove"></md-icon>
      <md-tooltip>Cancel changes</md-tooltip>
    </md-button>
    <md-button aria-label="Save changes" ng-click="saveChanges($event)">
      <md-icon md-font-icon="icon-save"></md-icon>
      <md-tooltip>Save changes</md-tooltip>
    </md-button>
  </div>
  <div class="EditContent-content" ui-codemirror="{ onLoad : codemirrorLoaded }" ui-refresh="refresh" ui-save="save()" ng-model="markdown"></div>
</div>
