<form name="cloneRepositoryForm">
  <fieldset>
    <div>
      <legend>Connect to a GitHub repository</legend>
    </div>

    <div class="alert alert-info" ng-hide="hasError">{{ message }}</div>
    <div class="alert alert-danger" ng-show="hasError">{{ message }}</div>

    <div class="form-group">
      <label>Github user name</label>
      <input type="text" class="form-control" id="githubUser" placeholder="{{ githubUserPlaceHolderText }}" required
             ng-model="githubUser" ng-disabled="isBusy">
    </div>
    <div class="form-group">
      <label>Repository name</label>
      <input type="text" class="form-control" id="repositoryName" placeholder="{{ repositoryNamePlaceHolderText }}" required
             ng-model="repositoryName" ng-disabled="isBusy">
    </div>

    <button ng-click='connect()' class="btn btn-primary"
            ng-disabled='cloneRepositoryForm.$invalid || isBusy'>Connect</button>

    <img src="images/progress.gif" alt="Cloning" title="Cloning"
        ng-show="isBusy">

  </fieldset>
</form>



