body {
  padding-top: 50px;
}

form {
  margin-top: 20px;
}

.ng-invalid.ng-dirty {
    border-color:red;
}

.pagesMenu {
  cursor: pointer;
}

.navbar-brand {
  display: inline;
}

.logo {
  height: 55px;
  margin-right: 10px;
  margin-top: -7px;
  float: left;
}

.content-error {
  margin-top: 20px;
}

.authtoolbar__button, .edittoolbar__button {
  display: none;
}

.authtoolbar__form {
  margin-left: 0px;
}

.authtoolbar__button.user {
  display: inline;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-form {
  border: none;
  box-shadow: none;
  padding-top: 10px;
}

.input-sm {
  font-size: 14px;
}

.navbar-form .btn {
  margin: -14px 0px 0px 0px;
  padding: 15px 5px 10px 5px;
  color: white;
}

.search-box {
  display: none;
}

.navbar {
  max-height: 50px;
}

@media (min-width: 768px) {
  .search-box {
    display: block;
  }

  .searchbox__form{
    padding-top: 10px;
    margin: 0px !important;
  }
}

@media (min-width: 1024px) {
  .navbar-form {
    margin: 0px 0px 0px 0px;
  }

  .edittoolbar__form, .authtoolbar__form {
    padding-top: 15px;
    margin: 0px !important;
  }

  .navbar-form .btn {
    min-width: 75px;
  }

  .navbar-form .btn span {
    margin-left: 5px;
    margin-right: 10px;
  }

  .navbar-nav a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .navbar-nav ul > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  .dropdown-menu {
    max-height: 600px;
    overflow: scroll;
  }

  .authtoolbar__button, .edittoolbar__button {
    display: inline;
  }

  .search-box {
    display: block;
  }
}


.content-view.ng-enter, .content-view.ng-leave {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;

  position:relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-view.ng-enter {
  left:100%;
}
.content-view.ng-enter.ng-enter-active {
  left: 0;
}

.content-view.ng-leave {

}

.content-view.ng-leave.ng-leave-active {
  left:-100%;
}

#connectButton > a {
  color: White;
  text-decoration: none;
}

span.user {
  margin-left: 5px;
}

.CodeMirror {
  margin-top: 10px;
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

div.ng-binding > p {
  margin-top: 10px;
}

.ngdialog-buttons {
  text-align: right;
}


