@import 'bootstrap.css';
@import 'font-awesome.min.css';


body {
  padding-top: 50px;
}

.ng-view {

}

.dropdown-menu {
  max-height: 800px;
  overflow:scroll;
}

form {
  margin-top: 20px;
}

input.ng-invalid.ng-dirty {
    background-color:red;
}
