@import 'bootstrap.css';
@import 'font-awesome.min.css';

body {
  padding-top: 50px;
}

.dropdown-menu {
  max-height: 800px;
  overflow:scroll;
}

form {
  margin-top: 20px;
}

.ng-invalid.ng-dirty {
    border-color:red;
}

a.pagesMenu {
  cursor: pointer;
}

a.navbar-brand {
  display: inline;
}

img.logo {
  height: 55px;
  margin-left: 10px;
  margin-right: 10px;
}



div.content-view.ng-enter{
  -webkit-transition: all 1s cubic-bezier(0.895, 0.030, 0.685, 0.220);
  -moz-transition: all 1s cubic-bezier(0.950, 0.050, 0.795, 0.035);
  -ms-transition: all 1s cubic-bezier(0.950, 0.050, 0.795, 0.035);
  -o-transition: all 1s cubic-bezier(0.950, 0.050, 0.795, 0.035);
  transition: all 1s cubic-bezier(0.950, 0.050, 0.795, 0.035); /* easeInExpo */
}

div.content-view.ng-leave {
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

div.content-view.ng-enter {
  opacity: 1;
}

div.content-view.ng-enter.ng-enter-active {
  opacity: 0.9;
}

div.content-view.ng-leave {
  opacity: 0.8;
}
div.content-view.ng-leave.ng-leave-active {
  opacity: 0;
}


