@import 'bootstrap.css';
@import 'font-awesome.min.css';

body {
  padding-top: 50px;
}

.dropdown-menu {
  max-height: 800px;
  overflow:scroll;
}

form {
  margin-top: 20px;
}

.ng-invalid.ng-dirty {
    border-color:red;
}

a.pagesMenu {
  cursor: pointer;
}

a.navbar-brand {
  display: inline;
}

img.logo {
  height: 55px;
  margin-left: 10px;
  margin-right: 10px;
}
